// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// BASIC STYLES ====//

*{
    margin: 0;
    padding: 0;
}

// HEADER STYLES ====//

header{
    height: 5vh;
    background: $blue;
    color: $white;
    overflow: hidden;
}


// MAIN STYLES ====//
main{
    min-height: 95vh;
    display: flex;
    position: relative;
}


// SIDEBAR STYLES ====//

#sidebar{
    width: 280px;
    position: relative;
    border-right: $grey 1px solid;
    margin-left: 0;
    background: $lgrey;

    transition: .5s;
}

#sidebar.closed{
    margin-left: -280px;
}

#sidebar h1{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}

#menuBtn{
    width: 35px;
    height: 90%;
    position: relative;
    left: 1rem;
    top:0;
    box-sizing: border-box;

    cursor: pointer;
}


#menuBtn div{
    height: 10%;
    margin: 11.6% 0;
    background: $white;
}


// PAGECONTET STYLES ====//
#pageContent{
    flex-grow: 1;
    position: relative;
    width: 100%;
    overflow: auto;
}





// Media queries
@media(max-width: 768px){
    #sidebar{
        position: absolute;
        z-index: 99;
        height: 100%;
    }
}