// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
    margin: 0;
    padding: 0;
}

header{
    height: 5vh;
}

main{
    min-height: 95vh;
    display: flex;
    position: relative;
}

#sidebar{
    background: coral;
    width: 280px;
    position: relative;
}

#pageContent{
    background: lightblue;
    flex-grow: 1;
    position: relative;
}
