@media (max-width: 500px){
    .mobileOnly{
        display: block;
    }
    
    .signupContainer .leftSide{
        width: 0;
        overflow: hidden;
    }

    .signupContainer .rightSide .infoCard{
        text-align: center;
        width: 90%;
        margin-bottom: 1rem;
        background: #ffffffb8;
        padding: 1rem;
        border-radius: 5px;
        position: relative;
    }
    .signupContainer .rightSide .infoCard h3{
        font-family: $display-font;
        font-size: 4rem;
        position: relative;
        transform: rotate(-6deg);
    }

    .mobileImgBG{
        display: block;
        background: url('/images/standard_landing.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .5;
    }

}